body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /* background-color: #888686; */
}

ul { list-style: none; padding-left: 5px; padding: 0; }
a { color:blue; text-decoration: none; padding: 10px}
a:hover
{
    color: #ff4500;
    text-shadow: 0px 1px 10px rgba(48, 28, 22, 0.75);
    font-style: italic;
}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.search
{
    /* background-color: #f5a741dc; */
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    margin-top: 15px;
}

.search input[type="text"]
{
    width: 375px; 
    height: 20px; 
    margin-right: 5px; 
    padding-left: 5px;
    
    border: none;
    border-bottom: 2px solid #d1d1d1;
    outline: none;

    font-size: 16px;
}

.main p
{
    text-align: justify;
}

.footer {
    min-height: 150px;
    border-top: solid 1px #cdcdcd;

    background-color: #20110e;
}

.footerArea
{
    width: 52rem;
    min-height: 150px;

    margin: 0 auto;
    padding: 5px;

    /* background-color: #ffffff8c; */
    background-color: rgba(151, 151, 151, 0.25);
    backdrop-filter: blur(15px);
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.rSocial
{
    /* background-color: orange; */
    flex-grow: 1;

    max-width: 325px;
    padding-top: 10px;
    padding-left: 7px;
}

.infor
{
    background-color: rgba(255, 68, 0, 0.582);
    /* opacity: 0.5; */
    flex-grow: 2;
    padding: 7px;
    padding-top: 20px;

    text-align: center;
}

span a.lnk-Social
{
    padding-left: 0px; 
    color: #fff
}

span a.lnk-Social:hover
{ 
    color: #ff4500;
    text-shadow: 0px 1px 10px rgba(255, 255, 255, 0.75);
    font-style: italic;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.returnMenuRight
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
    /* height: 400px; */
    /* background-color: #6aafc0; */
}

.sidebarRight 
{
    border-right: solid 1px #cdcdcd;
    /* height: 400px; */
    /* background-color: #6aafc0; */
}

.sidebar ul li
{
    padding: 13px 1px;
}

.sidebarRight ul li
{
    padding: 13px 1px;
}

.sidebar ul li:hover
{
    background-color: #dfb126d3;
    transition: 0.2s ease-in;
}

.sidebarRight ul li:hover
{
    background-color: #615C61;
    transition: 0.2s ease-in;
}

.sidebar ul li a:hover
{
    color: #fff;
}

.sidebar ul li a
{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;  
}

.sidebarRight ul li a:hover
{
    color: #fff;
}

.sidebarRight ul li a
{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;  
}

#textH2
{
    padding: 10px;
}

figure {
    text-align: center;
}