body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /* background-color: #888686; */
}

ul { list-style: none; padding-left: 5px; padding: 0; }
a { color:blue; text-decoration: none; padding: 10px}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;

    background-color: #6d6b6b;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
    /* height: 400px; */
    /* background-color: #6aafc0; */
}

.sidebar ul li
{
    padding: 13px 1px;
}

.sidebar ul li:hover
{
    background-color: #dfb126d3;
    transition: 0.2s ease-in;
}

.sidebar ul li a:hover
{
    color: #fff;
}
.sidebar ul li a
{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;  
}

#textH2
{
    padding: 10px;
}

figure {
    text-align: center;
}